.mainBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
}

.pageHeader {
    display: flex;
    width: 100%;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
}

.mainTitle {
    margin: 5px 0 5px 30px;
    width: 250px;

}