.mainCard {
    box-sizing: border-box;
    width: 450px;
    height: 150px;
    padding: 0;
    margin: 2px;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    overflow: hidden;

}

.Alive {
    background-color: green;
}

.Dead {
    background-color: red;  
}

.deadBanner {
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 0px 5px 90px;
    padding: 3px;
}

.unknown {
    background-color: grey;
}

.imageHolder {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 150px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.textArea {
    list-style: none;
    padding: 3px;
}

.nameText {
    font-size: 32px;
    font-weight: bold;
}

.speciesText{
    font-size: 16px;
}